[data-theme="dark"] {
  --bg-color: var(--neutral-950);
  --bg-color-secondary: var(--neutral-700);
  --text-color-primary: var(--neutral-0);
  --text-color-secondary: var(--neutral-300);
  --border-color: var(--neutral-600);
  --default-hover-color: var(--neutral-800);
}
