[data-theme="light"] {
  --bg-color: var(--neutral-0);
  --bg-color-secondary: var(--neutral-100);
  --text-color-primary: var(--neutral-950);
  --text-color-secondary: var(--neutral-600);
  --border-color: var(--neutral-200);
  --default-hover-color: var(--neutral-100);
}
